#ezr-keymedia-modal {
    position: fixed;
    height: 100%;
    width: 100%;
}

#ezr-keymedia-modal .backdrop {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.7;
}

#ezr-keymedia-modal .content {
    top: 100px;
    z-index: 2;
    position: absolute;
    border-radius: 4px;
    width: 920px;
    left: 50%;
    margin-left: -460px;
    
    background: #000;
    padding: 10px;
}

#ezr-keymedia-scaler .header, #ezr-keymedia-browser .header {
    float: left;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}

#ezr-keymedia-scaler .body, #ezr-keymedia-browser .body {
    clear: both;
}

#ezr-keymedia-browser input {
    border-radius: 4px;
    padding: 4px;
    border: 0;
}

#ezr-keymedia-browser a {
    color: #fff;
    text-decoration: none;
}

#ezr-keymedia-browser button.close {
    float: right;
}






#ezr-keymedia-modal .item {
    float: left;
    position: relative;
    text-align: center;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 160px;
    height: 120px;
    padding: 0;
    overflow: hidden;
}

#ezr-keymedia-modal .item a {
    display: block;
}
#ezr-keymedia-modal .item img {
    margin: 0;
}
#ezr-keymedia-modal .item:hover .meta {
    display: block;
}
#ezr-keymedia-modal .item .meta {
    display: none;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    padding: 50px 10px;
    margin: 0;
    background: #fff;
    opacity: 0.7;
    position: absolute;
    color: #000;
    font-weight: bold;
}







#ezr-keymedia-scaler .header ul {
    list-style-type: none;
    margin: 0;
    float: left;
}
#ezr-keymedia-scaler .header ul li {
    float: left;
    margin-right: 4px;
}

#ezr-keymedia-scaler .header ul li a {
    display: block;
    float: left;
    background: #b3b3b3;
    border-radius: 4px;
    height: 30px;
    padding: 4px 15px 4px 4px;
    font: normal 11px/11px Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #000;
}

#ezr-keymedia-scaler .header ul li.active a {
    background-color: #ffbb00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbb00), to(#ff8d00));
    background-image: -webkit-linear-gradient(top, #ffbb00, #ff8d00);
    background-image: -moz-linear-gradient(top, #ffbb00, #ff8d00);
    background-image: -ms-linear-gradient(top, #ffbb00, #ff8d00);
    background-image: -o-linear-gradient(top, #ffbb00, #ff8d00);
    background-image: linear-gradient(top, #ffbb00, #ff8d00); 
}

#ezr-keymedia-scaler .header ul li a span {
    
}

    
