@import "mixins.sass";

#keymedia-scaler, #keymedia-browser {
    
    .header {
        float: left;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        position: relative;
    }
}



/* Browse */

#keymedia-browser {
    
    .header {
        border-bottom: 1px solid #eee;
        padding: 0 0 10px 0;
        
        input[type="text"] { width: 400px; }
        button, .prev, .next { display: none; }
    }

    .body {
        clear: both;
        -webkit-transform: translate3d(0,0,0);
        
        .item {
            float: left;
            
            .pick {
                text-align: center;
                width: 170px;
                height: 190px;
                display: table-cell;
                padding: 10px 10px 0 10px;
                position: relative;
                
                img {
                    border: 1px solid #fff;
                    @include box-shadow(3px,3px,5px,0,rgba(0,0,0,0.4));
                    opacity: 0.9;
                    @include transition(opacity,0.2s);
                }
                
                .meta {
                    text-overflow: ellipsis;
                    max-width: 170px;
                    white-space: nowrap;
                    overflow: hidden;
                    color: #000;
                    font: normal 12px/18px Helvetica, Arial, sans-serif;
                    
                    .details { font-size: 10px; }
                }
                
                &:hover img {
                    opacity: 1;
                }
            }
        }
    }
}


/* Scale */

#keymedia-scaler {
    .header {
        @include textselection;
        
        ul {
            
            li {
                float: left;
                margin-right: 8px;
                
                .overlay {
                    display: none;
                    @include transition(opacity, 0.1s);
                    position: absolute;
                    opacity: 0;
                    z-index: 700;
                    border: 1px solid #fff60b;
                }
                
                &:hover .overlay { display: block; opacity: 1;  }
                &.active .overlay { border-color: #000; }
                &.uncropped:hover, &.active:hover .overlay { display: none; }
                
                a {
                    display: block;
                    float: left;
                    background: #fff;
                    border-radius: 4px;
                    height: 30px;
                    padding: 3px 25px 0 3px;
                    font: normal 11px/11px Helvetica, Arial, sans-serif;
                    color: #000;
                    border: 1px solid #fff;
                    
                    h2 {
                        float: left;
                        margin: 0;
                        font: bold 12px/14px Helvetica, Arial, sans-serif;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 90px;
                        white-space: nowrap;
                    }
                    
                    span { font: normal 10px/10px Helvetica, Arial, sans-serif; }
                    
                    p {
                        margin-right: 6px;
                        border: 1px solid #000;
                        border-radius: 2px;
                        float: left;
                    }
                }
                
                &.uncropped a {
                    background: transparent;
                    border: 1px dotted #ccc;
                    color: #fff;
                    
                    
                    p { border: 1px dotted #ccc; }
                    
                    &:hover {
                        border-color: #fff;
                        color: #fff;
                        
                        p { border-color: #fff; }
                    }
                }
                
                &.cropped a:hover { background: #fff60b; border-color: transparent; }
                
                &.active a, &.active a:hover {
                    @include gradient(#ffbb00, #ff8d00);
                    color: #000;
                    border-color: transparent;
                    
                    p { border-color: #000;}
                }
            }
        }
    }
    
    .body {
        clear: both;
        padding: 20px 0 0 0;
    }
    
    .jcrop-handle { // Override jCrop
    	font-size: 1px;
    	width: 16px !important;
    	height: 16px !important;
    	border: 1px #eee solid;
    	background-color: #fff;
    	border-radius: 4px
    }
    
    .jcrop-holder { border: 1px solid #fff; }
}





