#keymedia-scaler .header, #keymedia-browser .header {
  float: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  position: relative; }

/* Browse */
#keymedia-browser .header {
  border-bottom: 1px solid #eee;
  padding: 0 0 10px 0; }
  #keymedia-browser .header input[type="text"] {
    width: 400px; }
  #keymedia-browser .header button, #keymedia-browser .header .prev, #keymedia-browser .header .next {
    display: none; }
#keymedia-browser .body {
  clear: both;
  -webkit-transform: translate3d(0, 0, 0); }
  #keymedia-browser .body .item {
    float: left; }
    #keymedia-browser .body .item .pick {
      text-align: center;
      width: 170px;
      height: 190px;
      display: table-cell;
      padding: 10px 10px 0 10px;
      position: relative; }
      #keymedia-browser .body .item .pick img {
        border: 1px solid #fff;
        -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.4);
        opacity: 0.9;
        -webkit-transition: opacity 0.2s ease;
        -moz-transition: opacity 0.2s ease;
        -o-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease; }
      #keymedia-browser .body .item .pick .meta {
        text-overflow: ellipsis;
        max-width: 170px;
        white-space: nowrap;
        overflow: hidden;
        color: #000;
        font: normal 12px/18px Helvetica, Arial, sans-serif; }
        #keymedia-browser .body .item .pick .meta .details {
          font-size: 10px; }
      #keymedia-browser .body .item .pick:hover img {
        opacity: 1; }

#keymedia-browser .more-hits {
    display: block;
    padding: 14px 0 0 0;
    height: 25px;
    line-height: 14px;

    border-left: 1px solid #fff;
    width: 100%;
    background: #006dd3;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    float: left;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    background-image: -moz-linear-gradient(top, #0091e2, #006dd3);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0091e2), color-stop(1, #006dd3));
}

#keymedia-browser .more-hits:hover {
    background: #0091e2;
}

/* Scale */
#keymedia-scaler .header {
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none; }
  #keymedia-scaler .header ul li {
    float: left;
    margin: 0 8px 10px 0; }
    #keymedia-scaler .header ul li .overlay {
      display: none;
      -webkit-transition: opacity 0.1s ease;
      -moz-transition: opacity 0.1s ease;
      -o-transition: opacity 0.1s ease;
      transition: opacity 0.1s ease;
      position: absolute;
      opacity: 0;
      z-index: 700;
      border: 1px solid #fff60b; }
    #keymedia-scaler .header ul li:hover .overlay {
      display: block;
      opacity: 1; }
    #keymedia-scaler .header ul li.active .overlay {
      border-color: #000; }
    #keymedia-scaler .header ul li.uncropped:hover, #keymedia-scaler .header ul li.active:hover .overlay {
      display: none; }
    #keymedia-scaler .header ul li a {
      display: block;
      float: left;
      background: #fff;
      border-radius: 4px;
      height: 30px;
      padding: 3px 25px 0 3px;
      font: normal 11px/11px Helvetica, Arial, sans-serif;
      color: #000;
      border: 1px solid #fff; }
      #keymedia-scaler .header ul li a h2 {
        float: left;
        margin: 0;
        font: bold 12px/14px Helvetica, Arial, sans-serif; }
      #keymedia-scaler .header ul li a span {
        font: normal 10px/10px Helvetica, Arial, sans-serif; }
      #keymedia-scaler .header ul li a p {
        margin-right: 6px;
        border: 1px solid #000;
        border-radius: 2px;
        float: left; }
    #keymedia-scaler .header ul li.uncropped a {
      background: transparent;
      border: 1px dotted #ccc;
      color: #fff; }
      #keymedia-scaler .header ul li.uncropped a p {
        border: 1px dotted #ccc; }
      #keymedia-scaler .header ul li.uncropped a:hover {
        border-color: #fff;
        color: #fff; }
        #keymedia-scaler .header ul li.uncropped a:hover p {
          border-color: #fff; }
    #keymedia-scaler .header ul li.cropped a:hover {
      background: #fff60b;
      border-color: transparent; }
    #keymedia-scaler .header ul li.active a, #keymedia-scaler .header ul li.active a:hover {
      background-color: #ff8d00;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbb00), to(#ff8d00));
      background-image: -webkit-linear-gradient(top, #ffbb00, #ff8d00);
      background-image: -moz-linear-gradient(top, #ffbb00, #ff8d00);
      background-image: -ms-linear-gradient(top, #ffbb00, #ff8d00);
      background-image: -o-linear-gradient(top, #ffbb00, #ff8d00);
      background-image: linear-gradient(top, #ffbb00, #ff8d00);
      color: #000;
      border-color: transparent; }
      #keymedia-scaler .header ul li.active a p, #keymedia-scaler .header ul li.active a:hover p {
        border-color: #000; }
#keymedia-scaler .body {
  clear: both;
  padding: 0!important;
  position: static!important; }
#keymedia-scaler .jcrop-handle {
  font-size: 1px;
  width: 16px !important;
  height: 16px !important;
  border: 1px #eee solid;
  background-color: #fff;
  border-radius: 4px; }
#keymedia-scaler .jcrop-holder {
  border: 1px solid #fff;
  overflow: hidden; }
